# The location where your uploaded files are stored
UPLOAD_LOCATION=/mnt/immich/library

# The location where your database files are stored
DB_DATA_LOCATION=/mnt/immich/postgres

# Timezone
TZ=Europe/Oslo

# The Immich version to use
IMMICH_VERSION=release

# Connection secret for postgres
DB_PASSWORD="your_password_here"

# Database settings
DB_USERNAME="database_password"
DB_DATABASE_NAME="database_name"
